#.htaccess
#wp-config.php
wp-config-env.php

htdocs/wp-content/uploads/
htdocs/wp-content/blogs.dir/
htdocs/wp-content/upgrade/
htdocs/wp-content/backup-db/
htdocs/wp-content/advanced-cache.php
htdocs/wp-content/wp-cache-config.php
htdocs/sitemap.xml
*.log
htdocs/wp-content/cache/
htdocs/wp-content/backups/
htdocs/sitemap.xml.gz

# sqlite-integration files
sqlite-integration
htdocs/wp-content/db.php
htdocs/wp-content/database/

# Grunt
build/.sass-cache/*
build/node_modules/*
build/.ftppass
build/tmp/*
/nbproject/private/
